.emphase-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  border: .1rem solid var(--color-orange);
  border-radius: 2rem;
  padding: 1rem .9rem;
  transition: var(--transitions-slowest);
  box-shadow: 0 0 1.2rem .05rem rgba(0, 0, 0, 0.2);
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 2rem 1.8rem;
    box-shadow: 0 0 1.2rem .05rem rgba(0, 0, 0, 0.4);
  }

  img {
    margin-bottom: 1rem;
  }

  span {
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);
    font: {
      size: 1rem;
      weight: 400;
    }

    @media (min-width: 768px) {
      text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.8);
      transition: var(--transitions-slowest);
      font: {
        size: 1.2rem;
        weight: 400;
      }
    }

    @media (min-width: 991px) {
      font: {
        size: 1.4rem;
        weight: 400;
      }
    }
  }

  h3 {
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);
    transition: var(--transitions-slowest);
    font: {
      size: 1.3rem;
      weight: 600;
    }

    @media (min-width: 768px) {
      text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.8);
      font: {
        size: 1.7rem;
        weight: 700;
      }
    }

    @media (min-width: 991px) {
      font: {
        size: 2rem;
        weight: 700;
      }
    }
  }
}
