<div
  class="card"
  [appCarouselItem]="cardItem"
  [cardActive]="cardActive"
  (click)="openModalProject('500ms')"
  (keyup)="openModalProject('500ms')">
  <div class="card__header">
    <h3 class="card__header--title">{{ cardProject.title }}</h3>
    <p class="card__header--description">{{ cardProject.description }}</p>
  </div>
  <div class="card-content">
    <div class="stack-buttons">
      @for (
        technology of cardProject.technologies | slice: 0 : 3;
        track $index
      ) {
        <app-custom-text
          [text]="technology.text"
          [size]="technology.size"
          isDark />
      }
    </div>
    <img
      [ngSrc]="cardProject.image.path"
      [width]="cardProject.image.width"
      [height]="cardProject.image.height"
      [alt]="cardProject.image.altText" />
  </div>
</div>
