@import "../../../../../styles/variables";

.card {
  position: absolute;
  width: 22rem;
  height: 28rem;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .6rem;
  color: var(--color-background);
  border: .1rem solid $primaryDarkColor;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: all 500ms ease-out;
  left: calc(50% - 110px);
  top: 6rem;
  z-index: 4;
  background-image: $effectGradientColor;

  &:hover {
    color: var(--color-white);
    background-image: linear-gradient(to right, #323232 0%, rgb(24, 12, 0) 100%);
    box-shadow: 0 0 3rem .050rem $primaryColor;
    transform: scale(1.1);

    & > .card-header p {
      color: var(--color-white);
    }
  }


  @media (min-width: 992px) {
    top: 7rem;
    width: 30rem;
    height: 36rem;
    padding: 2rem;
    left: calc(47% - 110px);
  }

  .card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;

    @media (min-width: 992px) {
      gap:1rem;
    }

    h3 {
      font-weight: 600;
      font-size: var(--font-size-small);

      @media (min-width: 992px) {
        font-weight: 700;
        font-size: var(--font-size-normal);
      }
    }

    p {
      width: 100%;
      height: rem;
      text-align: justify;
      font-weight: 400;
      font-size: var(--font-size-xsmall);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      overflow: hidden;
      -webkit-box-orient: vertical;
      color: var(--color-dark-text);

      @media (min-width: 992px) {
        font-size: var(--font-size-small);
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    .stack-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: .6rem;
    }

    img {
      width: 100%;
      border-radius: 1rem;
      height: 12rem;

      @media (min-width: 992px) {
        height: 16rem;
      }
    }
  }
}
