.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 868px) {
    align-items: flex-start;

    &.center {
      align-items: center;
    }
  }

  h2 {
    font-size: 2.9rem;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);

    @media (min-width: 578px) {
      font-size: 3.4rem;
      text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.8);
    }


    &.light {
      color: var(--color-orange);
    }
  }
}
