@use 'variables' as *;

.heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2rem;

  &::before {
    position: absolute;
    content: '';
    transform: translateX(-50%);
    width: 30%;
    height: .6rem;
    bottom: -2rem;
    left: 50%;
    background-color: $primaryColor;
    margin-top: 2rem;
  }

  @media (min-width: 868px) {
    align-items: flex-start;

    &.center {
      align-items: center;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    border-radius: 5rem;
    transition: $transitionsNormal;

    &--icon {
      width: 1.7rem;
      height: 1.7rem;

      @media (min-width: 768px) {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    &--text {
      font: {
        size: $sizeXSmall;
        weight: 600;
        family: $customFont, sans-serif;
      };
      color: $primaryColor;
      text-transform: uppercase;
      letter-spacing: 0;

      &.dark {
        color: $bgDarkColor;
      }

      @media (min-width: $lteMedium) {
        font-size: $sizeSmall;
      }
    }
  }


  &__title {
    font-size: 2rem;
    font-family: $primaryFont sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: $whiteColor;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.4);
    text-align: center;

    @media (min-width: $lteSmall) {
      font-size: 3rem;
    }

    @media (min-width: $lteMedium) {
      font-size: 3.6rem;
    }

    @media (min-width: $lteLarge) {
      font-size: 3vw;
    }
  }
}
