<div class="heading" [ngClass]="isHeadingCenter ? 'center' : ''">
  <div [class]="'heading__tag hidden'" appScrollClass>
    @if (headingIcon) {
      <img
        class="heading__tag--icon"
        [ngSrc]="headingIcon.path"
        [width]="headingIcon.width"
        [height]="headingIcon.height"
        [alt]="headingIcon.altText" />
    }
    <span class="heading__tag--text" [ngClass]="{ dark: isDark }">{{
      headingTagText
    }}</span>
  </div>
  <h2
    class="heading__title hidden"
    [ngClass]="isLight ? 'light' : ''"
    appScrollClass>
    {{ headingTitle }}
  </h2>
</div>
