.section-technologies {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  animation: fadeInRight;
  animation-duration: 2s;
  transition: all 3s ease-in-out;

  .technologies-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    p {
      font-size: 1.8rem;
      color: var(--color-gray);
    }

    .technologies-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

    }
  }
}
