<section class="section-technologies" id="skills">
  @defer (on viewport) {
    <app-heading
      headingTitle="Tecnologias"
      headingTagText="Skills"
      [headingIcon]="skillIcon"
      textAlign="center"
      [isHeadingCenter]="true" />

    <div class="technologies-content">
      <p>Techs que utilizo no dia a dia</p>
      <div class="technologies-icons">
        @for (technology of mainTechnologies; track technology) {
          <app-technology-icon [technology]="technology" />
        }
      </div>
    </div>

    <div class="technologies-content">
      <p>
        Outras techs que tenho que já realizei projetos e/ou tenho
        familiariadade
      </p>
      <div class="technologies-icons">
        @for (technology of secondaryTechnologies; track technology) {
          <app-technology-icon [technology]="technology" />
        }
      </div>
    </div>
  } @placeholder {
    <app-loading />
  }
</section>
