<section class="section-technologies">
  <app-heading
    headingTitle="Tecnologias e Habilidades"
    headingTagText="Skills"
    [headingIcon]="skillIcon"
    textAlign="center"
    [isHeadingCenter]="true" />

  <div class="technologies-content">
    <p>Techs que uso no dia a dia</p>
    <div class="technologies-icons">
      @for (technology of technologiesMain; track technology) {
        <app-technology-icon [technology]="technology" />
      }
    </div>
  </div>

  <div class="technologies-content">
    <p>Outras techs que tenho familiariadade</p>
    <div class="technologies-icons">
      @for (technology of technologiesSecondary; track technology) {
        <app-technology-icon [technology]="technology" />
      }
    </div>
  </div>
</section>
