<button
  class="button-secondary"
  [type]="buttonType"
  (click)="clicked()"
  appScrollClass>
  @if (isButtonDownload) {
    <a
      class="button-secondary__link"
      [href]="buttonUrl"
      [type]="buttonLinkType"
      target="_blank"
      download>
      {{ buttonText }}
      <img
        *ngIf="buttonIcon"
        [ngSrc]="buttonIcon.path"
        [width]="buttonIcon.width"
        [height]="buttonIcon.height"
        [alt]="buttonIcon.altText" />
    </a>
  } @else {
    <a class="button-secondary__link">
      @if (buttonIcon && isButtonIconLeft) {
        <img
          class="button-secondary__icon"
          [ngSrc]="buttonIcon.path"
          [width]="buttonIcon.width"
          [height]="buttonIcon.height"
          [alt]="buttonIcon.altText" />
      }
      {{ buttonText }}
      @if (buttonIcon && !isButtonIconLeft) {
        <img
          class="button-secondary__icon"
          [ngSrc]="buttonIcon.path"
          [width]="buttonIcon.width"
          [height]="buttonIcon.height"
          [alt]="buttonIcon.altText" />
      }
    </a>
  }
</button>
