@use "../../../../styles/mixings" as b;
@import "variables";

.button-secondary {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;

  &:hover {
    animation: headShake 1s;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    font: {
      size: $sizeSmall;
      weight: 500;
    }
    color: $whiteColor;
    text-decoration: none;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.2);
    transition: $transitionsNormal;
    letter-spacing: 0.1rem;

    @media screen and (min-width: 768px) {
      font-size: $sizeNormal;
      text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.2);
    }
  }

  &__icon {
    width: 2rem;
  }
}
