<button [type]="buttonType" (click)="clicked()" appScrollClass>
  @if (isButtonDownload) {
    <a
      [href]="buttonUrl"
      [type]="buttonLinkType"
      target="_blank"
      [download]="buttonDownload">
      {{ buttonText }}
      <img
        *ngIf="buttonIcon"
        [ngSrc]="buttonIcon.path"
        [width]="buttonIcon.width"
        [height]="buttonIcon.height"
        [alt]="buttonIcon.altText" />
    </a>
  } @else {
    <a>
      {{ buttonText }}
      <img
        *ngIf="buttonIcon"
        [ngSrc]="buttonIcon.path"
        [width]="buttonIcon.width"
        [height]="buttonIcon.height"
        [alt]="buttonIcon.altText" />
    </a>
  }
</button>
