@use "../../../../styles/mixings" as b;
@import "variables";

.button-secondary {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;

  &:hover {
    animation: headShake 1s;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    font: {
      size: 1.4rem;
      weight: 500;
    }
    color: $whiteColor;
    text-decoration: none;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);
    transition: var(--transitions-fast);

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
      text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.8);
    }
  }

  &__icon {
    width: 2rem;
  }
}
