<header id="home" class="animate__animated animate__slideInDown">
  <app-menu />
  <section>
    <div class="content">
      <div class="text">
        <app-custom-text [icon]="helloIcon" text="Olá, eu sou" />
        <h1>Andre Alves</h1>
        <span>Fullstack developer</span>
        <app-social-media class="media" />
      </div>
      <app-image [image]="avatarImage" />
    </div>
    <div class="header-actions">
      <app-button-secondary
        buttonText="Baixar CV"
        [buttonIcon]="downloadIcon"
        buttonUrl="./assets/andre_alves_pereira_CV.pdf"
        buttonLinkType="application.pdf"
        [isButtonDownload]="true"
        buttonDownload="andre_alves_pereira_CV.pdf" />
      <app-button-default
        buttonType="button"
        [buttonIcon]="whatsappIcon"
        buttonText="Vamos conversar" />
    </div>
  </section>
</header>
