<section class="section-project">
  <div class="header">
    <app-heading
      title="Trabalhos & Projetos"
      tagText="Portfólio"
      [icon]="projectIcon" />

    <div class="header-buttons">
      <app-button-default
        type="button"
        [icon]="frontendIcon"
        buttonText="Frontend"
        (clickButton)="filter('frontend')" />
      <app-button-default
        type="button"
        [icon]="backendIcon"
        buttonText="Backend"
        (clickButton)="filter('backend')" />
      <app-button-default
        type="button"
        [icon]="fullstackIcon"
        buttonText="Fullstack"
        (clickButton)="filter('fullstack')" />
    </div>
  </div>
  <div class="content">
    @if (isLoading) {
      <mat-spinner color="warn"></mat-spinner>
    } @else {
      @if (isFilter) {
        <div class="container-cards">
          @for (project of filteredProjects; track project.title) {
            <app-project-card [project]="project" />
          } @empty {
            <p>Nenhum projeto encontrado!</p>
          }
        </div>
      } @else {
        <app-carousel [projects]="projects" />
      }
      <div class="button-container">
        <app-button-secondary
          buttonText="Ver todos"
          type="button"
          [isDownloadBtn]="false"
          (buttonClick)="seeAllProjects()" />
      </div>
    }
  </div>
</section>
