<section class="section-project" id="projects">
  @defer (on viewport) {
    <div class="header">
      <app-heading
        headingTitle="Trabalhos & Projetos"
        headingTagText="Portfólio"
        [headingIcon]="projectIcon" />

      <div class="header-buttons">
        <app-button-default
          buttonType="button"
          [buttonIcon]="frontendIcon"
          buttonText="Frontend"
          (buttonClick)="filter('frontend')" />
        <app-button-default
          buttonType="button"
          [buttonIcon]="backendIcon"
          buttonText="Backend"
          (buttonClick)="filter('backend')" />
        <app-button-default
          buttonType="button"
          [buttonIcon]="fullstackIcon"
          buttonText="Fullstack"
          (buttonClick)="filter('fullstack')" />
      </div>
    </div>
    <div class="content">
      @if (isLoading) {
        <app-loading />
      } @else {
        @if (isFilter) {
          <app-carousel [cardProject]="filteredProjects" />
        } @else {
          <app-carousel [cardProject]="projects" />
        }
        <div class="button-container">
          <app-button-secondary
            buttonText="Ver todos"
            buttonType="button"
            (buttonClick)="seeAllProjects()" />
        </div>
      }
    </div>
  } @placeholder {
    <app-loading />
  }
</section>
