@import "../../../styles/variables";

.section-technologies {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  animation: fadeInRight;
  animation-duration: 2s;
  transition: var(--transtions-slowest);
  background-color: $bgDarkColor;
  padding: 1.6rem 0;

  @media screen and (min-width: 768px) {
    gap: 7rem;
  }
  
  .technologies-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    @media screen and (min-width: 768px) {
      gap: 2rem;
    }

    @media screen and (min-width: 991px) {
      gap: 2.5rem;
    }

    p {
      text-align: center;
      font-size: var(--font-size-xsmall);
      font-weight: 300;
      color: var(--color-white);
      text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.4);

      @media screen and (min-width: 768px) {
        font-size: var(--font-size-small);
      }

      @media screen and (min-width: 991px) {
        font-size: var(--font-size-normal);
      }
    }

    .technologies-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      @media screen and (min-width: 768px) {
        gap: 2rem;
      }

      @media screen and (min-width: 991px) {
        gap: 2.5rem;
      }
    }
  }
}
