@import "../../../styles/variables";

.section-technologies {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  animation: fadeInRight;
  animation-duration: 2s;
  transition: var(--transtions-slowest);
  background-color: $bgDarkColor;
  padding: 5rem 0;

  @media (min-width: 768px) {
    gap: 6rem;
    padding: 12vw 10vw;
  }

  @media (min-width: 978px) {
    padding: 10vw 10vw;
  }

  @media (min-width: 1168px) {
    padding: 8vw 10vw;
  }

  .technologies-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    @media screen and (min-width: 768px) {
      gap: 2rem;
    }

    @media screen and (min-width: 991px) {
      gap: 2.5rem;
    }

    &__title {
      text-align: center;
      font-size: $sizeXSmall;
      font-weight: 300;
      color: $whiteColor;
      text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.4);

      @media screen and (min-width: 768px) {
        font-size: $sizeSmall;
      }

      @media screen and (min-width: 991px) {
        font-size: $sizeNormal;
      }
    }

    .technologies-icons {
      display: grid;
      grid-template-columns: repeat(5, auto);
      gap: 2rem;
      justify-content: center; // centraliza as COLUNAS
      justify-items: center; // centraliza o conteúdo dentro das células (importante!)
      align-content: center; // centraliza as LINHAS do grid
      align-items: center;

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(6, auto);
        gap: 2rem;
      }

      @media screen and (min-width: 991px) {
        grid-template-columns: repeat(8, auto);
        gap: 2.5rem;
      }
    }
  }
}
