<div class="carousel-container">
  <div class="carousel-content">
    @for (cardProject of cardProject; track $index) {
      <div #cardProject>
        <app-project-card
          [cardItem]="cardProject.id"
          [cardActive]="cardActive"
          [cardProject]="cardProject" />
      </div>
    }
    <button class="next" #next type="button" (click)="nextCard()">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button class="prev" #prev type="button" (click)="prevCard()">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
</div>
