<p-carousel
  [value]="projects"
  [numVisible]="4"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
  orientation="horizontal"
  [showIndicators]="true"
  [verticalViewPortHeight]="'800px'"
  (onPage)="emphaseCard()">
  <ng-template let-project pTemplate="item">
    <app-project-card [project]="project" />
  </ng-template>
  <ng-template pTemplate="footer" class="carousel-footer">
    <app-button-secondary buttonText="Ver todos" type="button" />
  </ng-template>
</p-carousel>
