<section class="section-emphasis">
  <div class="container-cards">
    <app-emphase-card
      title="Programador"
      subtitle="3 anos como "
      [icon]="firstIcon" />
    <app-emphase-card
      title="Programador"
      subtitle="3 anos como "
      [icon]="firstIcon" />
    <app-emphase-card
      title="Programador"
      subtitle="3 anos como "
      [icon]="firstIcon" />
  </div>
  <div class="container-texts">
    <div class="card-info">
      <span>Desenvolvedor</span>
      <h3>Front-end</h3>
    </div>
    <div class="card-info">
      <span>Dezenas de projetos e</span>
      <h3>Experiências</h3>
    </div>
    <div class="card-info">
      <span>Designer freelancer e</span>
      <h3>UI UX</h3>
    </div>
  </div>
</section>
