@import "../../../styles/variables";

.section-career {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 0;
  transition: var(--transitions-slower);
  background-color: $bgDarkColor;

  @media (min-width: 768px) {
    gap: 4rem;
    padding: 12vw 10vw;
  }

  @media (min-width: 978px) {
    padding: 10vw 10vw;
  }

  @media (min-width: 1168px) {
    padding: 8vw 10vw;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    transition: var(--transitions-slower);

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      gap: 4%;
    }

    @media screen and (min-width: 991px) {
      gap: 15rem;
    }
  }
}
