@import "variables";

footer {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  background: $primaryColor;
  box-shadow: 0 2rem 2rem 2rem rgba(0,0,0,0.4);
  transition: var(--transitions-slower);

  @media screen and (min-width: 768px) {
    height: 7rem;
  }


  .footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    transition: var(--transitions-slower);

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    span {
      color: $whiteColor;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

}
