@use 'variables' as *;

:host {
  display: block;
  width: 100%;
}

.career-table {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  display: flex;
  margin: 0 auto;

  background-color: $bgDarkColor;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(to bottom, $primaryColor 0%, $primaryDarkColor 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &__menu {
    width: 40%;
    display: flex;
    background-image: $effectGradientCardColor;

    .menu-experiencies {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      &__item {
        width: 100%;

        &:not(:last-child) {
          border-bottom: 1px solid $grayDarkColor;
        }

        &--btn {
          width: 100%;
          min-width: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 20px;
          background: transparent;
          border: none;
          color: $whiteColor;
          font-family: $primaryFont;
          font-size: $sizeNormal;
          text-align: left;
          cursor: pointer;
          transition: $transitionsFast;

          &:hover {
            color: $textDarkColor;
          }

          &.active {
            background-color: $bgDarkColor;
            color: $primaryColor;
          }
        }
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 30px;
    perspective: 1200px;

    .experience-card {
      width: 100%;
      min-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform-style: preserve-3d;
      height: 100%;
      backface-visibility: hidden;
    }

    .content__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--title {
        font-size: $sizeMedium;
        font-weight: 600;
        color: $whiteColor;
        line-height: normal;
      }

      &--date {
        font-size: $sizeSmall;
        color: gray;
      }
    }

    .content__company-name {
      font-size: $sizeSmall;
      font-weight: 300;
      color: $primaryColor;
      line-height: normal;
    }

    .content__job-description {
      font-size: $sizeNormal;
      font-weight: 400;
      color: $whiteColor;
      text-indent: 20px;
      text-align: justify;
      line-height: 30px;
      letter-spacing: 1.1px;
    }
  }
}
