@use 'variables' as *;

:host {
  display: block;
  width: 100%;
  padding: 0 1rem;
  transition: $transitionsNormal;

  @media (min-width: $lteSmall) {
    padding: 0 3rem;
  }

  @media (min-width: $lteMedium) {
    padding: 0;
  }
}

.career-table {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 250px;
  display: flex;
  margin: 0 auto;

  background-color: $bgDarkColor;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(to bottom, $primaryColor 0%, $primaryDarkColor 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &__menu {
    width: 40%;
    flex-basis: 30%;
    background-image: $effectGradientCardColor;

    @media (min-width: $lteLarge) {
      flex-basis: 24%;
    }

    .menu-experiencies {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      &__item {
        width: 100%;

        &:not(:last-child) {
          border-bottom: 1px solid $grayDarkColor;
        }

        &--btn {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 20px;
          background: transparent;
          border: none;
          color: $whiteColor;
          font-family: $primaryFont;
          font-size: $sizeXSmall;
          font-weight: 600;
          text-align: left;
          letter-spacing: 1.1px;
          cursor: pointer;
          transition: $transitionsNormal;

          @media (min-width: $lteSmall) {
            font-size: $sizeSmall;
          }

          @media (min-width: $lteLarge) {
            font-size: $sizeNormal;
          }

          &:hover {
            color: $bgDarkColor;
          }

          &.active {
            background-color: $bgDarkColor;
            color: $primaryColor;
          }
        }
      }
    }
  }

  &__content {
    position: relative;
    flex-basis: 70%;
    width: 100%;
    padding: 15px;
    perspective: 1200px;

    @media (min-width: $lteMedium) {
      padding: 30px;
    }

    @media (min-width: $lteLarge) {
      flex-basis: 76%;
    }

    .experience-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      transform-style: preserve-3d;
      height: 100%;
      backface-visibility: hidden;
      font-family: "Inter", sans-serif;
    }

    .content__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--title {
        font-size: $sizeSmall;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        color: $whiteColor;
        line-height: normal;
        letter-spacing: 1.1px;

        @media (min-width: $lteSmall) {
          font-size: $sizeNormal;
        }

        @media (min-width: $lteLarge) {
          font-size: $sizeMedium;
        }
      }

      &--date {
        font-size: $sizeXXSmall;
        font-family: "Inter", sans-serif;
        color: gray;

        @media (min-width: $lteSmall) {
          font-size: $sizeXSmall;
        }

        @media (min-width: $lteLarge) {
          font-size: $sizeSmall;
        }
      }
    }

    .content__company-name {
      font-size: $sizeXXSmall;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      color: $primaryColor;
      line-height: normal;
      letter-spacing: 1.1px;

      @media (min-width: $lteSmall) {
        font-size: $sizeXSmall;
      }

      @media (min-width: $lteLarge) {
        font-size: $sizeSmall;
      }
    }

    .content__job-description {
      font-size: $sizeXSmall;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      color: $whiteColor;
      text-indent: 20px;
      text-align: justify;
      line-height: 15px;
      letter-spacing: 1.1px;

      @media (min-width: $lteSmall) {
        font-size: $sizeSmall;
        line-height: 24px;
      }

      @media (min-width: $lteLarge) {
        font-size: $sizeNormal;
        line-height: 30px;
      }
    }
  }
}
