<section class="about">
  <app-background class="bg-wrapper" />
  <app-heading
    headingTagText="Sobre mim"
    headingTitle='"Curioso Por Natureza, Desenvolvedor Por Escolha."'
    [isHeadingCenter]="true"
    [isDark]="true"
    [headingIcon]="headingIcon" />

  <div class="wrapper hidden" appScrollClass>
    <div class="image">
      <div class="image__splash"></div>
      <img
        class="image__img"
        ngSrc="./assets/img/profile.jpg"
        width="300"
        height="300"
        alt="profile" />
    </div>
    <div class="content">
      <h3 class="content__title">
        Desenvolvedor Fullstack & Solucionador de Problemas
      </h3>
      <div class="content__text-wrapper">
        <p class="text hidden" appScrollClass>
          Sou desenvolvedor fullstack, estudante de Ciência da Computação no
          IFCE, com experiência no desenvolvimento de aplicações web modernas,
          escaláveis e orientadas à boa experiência do usuário. Atuo
          principalmente com <strong class="highlight">Angular</strong> e
          <strong class="highlight">React</strong> no frontend, além de
          <strong class="highlight">C#</strong>
          <strong class="highlight"> .NET</strong> e bancos de dados relacionais
          no backend, sempre aplicando boas práticas de engenharia de software.
        </p>
        <p class="text hidden" appScrollClass>
          Tenho experiência na criação e consumo de
          <strong class="highlight">APIs RESTful</strong>, aplicação de padrões
          como <strong class="highlight">CQRS</strong>,
          <strong class="highlight">Clean Architecture</strong>, além de
          integração com bancos de dados relacionais como
          <strong class="highlight">MySQL</strong>,
          <strong class="highlight">PostgreSQL</strong> e
          <strong class="highlight">SQL Server</strong>. Sou movido por
          aprendizado contínuo, gosto de resolver problemas complexos com
          soluções eficientes e busco oportunidades para evoluir
          profissionalmente e gerar impacto através da tecnologia.
        </p>
      </div>
      <app-button-secondary
        class="content__button"
        buttonText="Baixar CV"
        [buttonIcon]="downloadIcon"
        buttonUrl="./assets/docs/Andre_Alves_Pereira_CV.pdf"
        buttonLinkType="application/pdf"
        [isButtonDownload]="true"
        buttonDownload="Andre_Alves_Pereira_CV.pdf" />
    </div>
  </div>
</section>
