<section class="about">
  <app-heading
    headingTagText="Sobre mim"
    headingTitle="Curioso Por Natureza, Desenvolvedor Por Escolha.”"
    [isHeadingCenter]="true"
    [isDark]="true"
    [headingIcon]="headingIcon" />

  <div class="wrapper">
    <div class="image">
      <div class="image__splash"></div>
      <img
        class="image__img"
        ngSrc="./assets/img/profile.jpg"
        width="300"
        height="300"
        alt="profile" />
    </div>
    <div class="content">
      <h3 class="content__title">
        Desenvolvedor Fullstack & Solucionador de Problemas
      </h3>
      <div class="content__text-wrapper">
        <p class="text hidden" appScrollClass>
          Olá! Sou André A. Pereira, entusiasta por tecnologia e estudante de
          Ciência da Computação no IFCE, com experiência no desenvolvimento de
          aplicações web. Atuo como desenvolvedor fullstack, unindo boas
          práticas de engenharia de software a uma forte preocupação com a
          experiência do usuário.
        </p>
        <p class="text hidden" appScrollClass>
          Minha principal especialização está no frontend, utilizando Angular,
          HTML5, CSS3, SCSS, TypeScript e JavaScript para criar interfaces
          modernas, responsivas e performáticas. Participei de projetos
          acadêmicos reais, contribuindo para layout, arquitetura e manutenção
          de sistemas, o que fortaleceu minhas habilidades de colaboração,
          organização e comunicação em equipe.
        </p>
        <p class="text hidden" appScrollClass>
          No backend, trabalho com C#, ASP.NET Core e NestJS, desenvolvendo APIs
          RESTful, integradas a SQL Server e PostgreSQL, aplicando conceitos
          como Clean Architecture, SOLID e CQRS. Atualmente, sigo evoluindo para
          entregar soluções escaláveis, bem estruturadas e com impacto real do
          início à entrega final.
        </p>
      </div>
      <app-button-secondary
        class="content__button"
        buttonText="Baixar CV"
        [buttonIcon]="downloadIcon"
        buttonUrl="./assets/docs/Andre_Alves_Pereira_CV.pdf"
        buttonLinkType="application/pdf"
        [isButtonDownload]="true"
        buttonDownload="Andre_Alves_Pereira_CV.pdf" />
    </div>
  </div>
</section>
