@import "../../../styles/variables";

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  transition: all 3s ease-in-out;
  background-image: linear-gradient(to top, #232323 0%, #315A61 60%, #0FB5C8 100%);
  padding: 1.6rem 0;

  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 10vw;
    justify-content: space-around;
  }

  @media (min-width: 991px) {
    flex-direction: row;
  }

  @media (min-width: 1176px) {
    gap: 8rem;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 100%;
      align-items: flex-start;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: .6rem;

      p {
        font-family: var(--font-secondary);
        font-size: var(--font-size-xsmall);
        font-weight: 300;
        color: $whiteColor;
        text-align: justify;
        text-indent: 4rem;
        text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);
        line-height: 2rem;

        @media screen and (min-width: 768px) {
          font-size: var(--font-size-small);

        }

        .highlight {
          color: $primaryColor;
        }
      }
    }
  }
}
