@import "../../../styles/variables";

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  transition: all 3s ease-in-out;
  background-image: linear-gradient(to top, #232323 0%, #315A61 60%, #0FB5C8 100%);
  padding: 5rem 3rem 10rem;

  @media (min-width: $lteMedium) {
    margin: 0 auto;
    padding: 10vw 5vw;
    justify-content: space-around;
  }

  @media (min-width: $lteHuge) {
    gap: 5rem;
    padding: 10vw 8vw 5vw;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $lteHuge) {
      flex-direction: row;
    }
  }

  .image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1s ease;
    margin: 4rem auto;

    @media(min-width: $lteMedium) {
      max-width: 70rem;
    }

    @media(min-width: $lteHuge) {
      margin: 2rem 1rem 2rem 0;
    }

    &__splash {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;
      height: 110%;
      background-color: $primaryColor;
      z-index: 0;
      border-radius: 40% 70% 50% 30% / 50% 60% 70% 50%;
      animation: blob 8s ease-in-out infinite;
    }

    &__img {
      max-width: 60%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
      z-index: 1;

      @media(min-width: $lteMedium) {
        width: 150%;
        height: 150%;
        margin: 0;
      }
    }
  }


  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;

    &__title {
      font-size: $sizeMedium;
      color: $whiteColor;
      text-indent: 4rem;
      letter-spacing: 0.1rem;
    }

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .text {
        font-size: $sizeSmall;
        font-weight: 400;
        color: $whiteColor;
        text-align: justify;
        text-indent: 4rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;

        @media screen and (min-width: 768px) {
          font-size: $sizeSmall;
        }

        .highlight {
          color: $primaryColor;
        }
      }
    }

    &__button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
    }
  }
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
  }
  50% {
    border-radius: 40% 70% 40% 70% / 60% 50% 70% 40%;
  }
  100% {
    border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
  }
}
