@import 'variables';

.image-wrapper {
  position: relative;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: pulse 3s infinite;

  @media (min-width: 992px) {
    width: 32rem;
    height: 32rem;
  }

  &__img {
    border-radius: 50%;
    border: 0.2rem solid $primaryColor;
    width: 24rem;
    height: 24rem;
    transition: $transitionsSlow;

    @media screen and (min-width: 992px) {
      width: 32rem;
      height: 32rem;
    }
  }
}
