@import 'variables';

.image-wrapper {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (min-width: 992px) {
    width: 42rem;
    height: 100%;
  }

  &__img {
    border-radius: 50%;
    border: 0.2rem solid $primaryColor;
    width: 16rem;
    height: 16rem;
    transition: $transitionsSlow;
  }
}
