@import 'variables';

.meeting {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  padding: .8rem 1.2rem;
  border-radius: 5rem;
  background-color: $primaryDarkColor;
  transition: var(--transition-normal);
  box-shadow: .3rem .2rem 1rem .05rem rgba(22, 22, 22, 0.2);

  @media (min-width: 768px) {
    padding: .9rem 1.5rem;
  }

  &.smallest {
    padding: .5rem .9rem;

    &.dark {
      background-image: linear-gradient(to right, #323232 0%, rgb(24, 12, 0) 100%);
    }
  }

  &__icon {
    width: 1.7rem;
    height: 1.7rem;

    @media (min-width: 768px) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__text {
    font: {
      size: 1.2rem;
      weight: 500;
    };
    color: $primaryColor;
    text-shadow: rgba(0, 0, 0, 0.8) .1rem .1rem .1rem;

    &.smallest {
      font: {
        size: .9rem;
        weight: 400;
      }
    }

    @media (min-width: 768px) {
      font-size: 1.9rem;
      text-shadow: rgba(0, 0, 0, 0.8) .1rem .1rem .3rem;

      &.small {
        font-size: 1.2rem;
      }
    }

    @media (min-width: 992px) {
      &.smallest {
        font: {
          size: 1.2rem;
          weight: 500;
        };
      }
    }
  }
}
