// Colors
$primaryColor: #0FB5C8;
$primaryDarkColor: #075962;
$grayDarkColor: #454044;
$grayColor: #adadad;
$whiteColor: #FFFFFF;
$textDarkColor: rgb(12, 12, 12);
$bgDarkColor: #232323;
$bgGradientColor: linear-gradient(to top, $primaryColor 10%, $primaryDarkColor 60%, $grayDarkColor 80%);
$effectGradientColor: linear-gradient(-20deg, $primaryColor 0%, $whiteColor 100%);
$effectGradientCardColor: linear-gradient(to bottom, $primaryColor 0%, $primaryDarkColor 100%);

// Fonts
$primaryFont: "Raleway", sans-serif;
$secondaryFont: "Open Sans", sans-serif;
$sizeXXSmall: 0.8rem;
$sizeXSmall: 1.2rem;
$sizeSmall: 1.6rem;
$sizeNormal: 1.8rem;
$sizeMedium: 2.4rem;
$sizeLarge: 3.2rem;
$sizeXLarge: 4.0rem;
$sizeXXLarge: 4.8rem;
$sizeHuge: 5.6rem;
$sizeXHuge: 6.4rem;

// Media
$lteSmall: 480px;
$lteMedium: 767px;
$lteLarge: 991px;
$lteHuge: 1199px;
$lteXHuge: 1600px;

// Spacings
$spacingsXTiny: 0.2rem;
$spacingsTiny: 0.4rem;
$spacingsXXSmall: 0.8rem;
$spacingsXSmall: 1.2rem;
$spacingsSmall: 1.6rem;
$spacingsMediumSmall: 2.0rem;
$spacingsMedium: 2.4rem;
$spacingsMediumLarge: 2.8rem;
$spacingsLarge: 3.2rem;
$spacingsXLarge: 3.6rem;
$spacingsXXLarge: 4.0rem;
$spacingsHuge: 4.4rem;
$spacingsXHuge: 4.8rem;
$spacingsXXHuge: 5.6rem;
$spacingsHero: 6.4rem;
$spacingsXHero: 7.2rem;
$spacingsXXHero: 8.0rem;

// transitions
$transitionsFastest: all 100ms ease-in-out;
$transitionsFaster: all 200ms ease-in-out;
$transitionsFast: all 300ms ease-in-out;
$transitionsNormal: all 500ms ease-in-out;
$transitionsSlow: all 600ms ease-in-out;
$transitionsSlower: all 800ms ease-in-out;
$transitionsSlowest: all 1s ease-in-out;

