@use '@angular/material' as mat;
@import "variables";

:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: $primaryColor,
    active-indicator-width: 2rem,
    size: 2rem,
  ));
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
}

html {
  font-family: $primaryFont, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $primaryFont, sans-serif;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}

ul {
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, span, p, a {
  font-family: $primaryFont, sans-serif;
}

