:root {
  --color-background: rgba(28, 22, 18, 0.94);
  --color-dark-text: rgb(12, 12, 12);
  --color-gray: #A7A7A7;
  --color-white: #ccc;
  --color-title: #D9D9D9;
  --color-light-orange: #ffa46a;
  --color-orange: #e16314;
  --color-dark-orange: rgba(225, 99, 20, 0.1);
  --color-black-orange: rgba(33, 15, 2, 1);
  --color-blue: #0BBAB5;
  --color-gradient: -webkit-linear-gradient( 180deg, var(--color-white) 10%, var(--color-orange));
}
