:root {
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-size-xsmall: 1.4rem;
  --font-size-small: 1.6rem;
  --font-size-normal: 1.8rem;
  --font-size-medium: 2.4rem;
  --font-size-large: 3.2rem;
  --font-size-xlarge: 4.0rem;
  --font-size-xxlarge: 4.8rem;
  --font-size-huge: 5.6rem;
  --font-size-xhuge: 6.4rem;
}
