:root {
  --transitions-fastest: all 100ms ease-out;
  --transitions-faster: all 200ms ease-out;
  --transitions-fast: all 300ms ease-out;
  --transitions-normal: all 500ms ease-out;
  --transitions-slow: all 600ms ease-out;
  --transitions-slower: all 800ms ease-out;
  --transitions-slowest: all 1s ease-out;
}
