.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
  gap: 5rem;
  animation: scrollAnimation 0.5s ease-in-out;

  .container-contacts {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

}


