<section class="section-contact" id="contact">
  @defer (on viewport) {
    <app-heading
      [isHeadingCenter]="true"
      headingTagText="Contatos"
      headingTitle="Vamos conversar!"
      [headingIcon]="contactIcon" />
    <div class="container-contacts">
      <app-button-default
        buttonType="button"
        [buttonIcon]="whatsappIcon"
        buttonText="Vamos conversar"
        buttonUrl="https://wa.me/558592794032?text=Olá%20Andre,%20tudo%20bem?%20Venho%20através%20do%20seu%20portfólio%20e%20gostaria%20de%20tirar%20algumas%20dúvidas." />
      />
      <app-button-default
        [buttonText]="'andrealves.dev@gmail.com'"
        [buttonIcon]="emailIcon"
        buttonUrl="mailto:andrealves.dev@gmail.com" />
    </div>
    <app-back-to-top />
  } @placeholder {
    <app-loading />
  }
</section>
