<button
  [type]="buttonType"
  (click)="clicked()"
  [ngClass]="isDark ? 'dark' : ''"
  appScrollClass>
  <a
    *ngIf="buttonUrl; else elseButton"
    [href]="buttonUrl"
    [target]="buttonUrl ? '_blank' : ''"
    [ngClass]="isDark ? 'dark' : ''">
    <img
      *ngIf="buttonIcon"
      [ngSrc]="buttonIcon.path"
      [width]="buttonIcon.width"
      [height]="buttonIcon.height"
      [alt]="buttonIcon.altText" />
    {{ buttonText }}
  </a>
</button>
<ng-template #elseButton>
  <a [ngClass]="isDark ? 'dark' : ''">
    <img
      *ngIf="buttonIcon"
      [ngSrc]="buttonIcon.path"
      [width]="buttonIcon.width"
      [height]="buttonIcon.height"
      [alt]="buttonIcon.altText" />
    {{ buttonText }}
  </a>
</ng-template>
