@use "../../../../styles/mixings" as b;
@import "variables";

button {
  position: relative;
  background-color: transparent;
  padding: .6rem 1.2rem;
  border: .1rem solid $primaryColor;
  border-radius: 5rem;
  cursor: pointer;
  transition: var(--transitions-normal);
  box-shadow: .2rem .2rem 1rem .1rem rgba(25, 25, 25, 0.4);

  &::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    border-radius: 5rem;
    opacity: .1;
    top: 0;
    left: 0;
    background-color: $primaryDarkColor;
    transition: var(--transitions-normal);
    z-index: -1;
  }

  &:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
  }


  &.dark {
    border-color: var(--color-background);
    &::before {
      content: "";
      width: 0%;
      height: 100%;
      position: absolute;
      border-radius: 5rem;
      opacity: 0;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right, #323232 0%, rgb(24, 12, 0) 100%);
      transition: var(--transitions-normal);
      z-index: -1;
    }

    &:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 1;
    }

    &:hover a {
      color: $primaryColor;
      z-index: 10;
    }
  }

  @media (min-width: 992px) {
    padding: 1rem 2rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: .6rem;
    color: $whiteColor;
    font: {
     weight: 500;
     size: 1.2rem;
    }
    text-decoration: none;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);
    z-index: 1;

    &.dark {
      color: var(--color-dark-text);
      text-shadow: .1rem .1rem .1rem rgba(58, 58, 58, 0.301);
      box-shadow: none;
      transition: var(--transitons-slowest);

      &:hover {
        color: $primaryColor;

      }
    }

    @media (min-width: 991px) {
      font: {
        weight: 500;
        size: 1.6rem;
      }
      text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.8);
    }

    > img {
     width: 2rem;
     height: 2rem;

       @media (min-width: 992px) {
         width: 3rem;
         height: 3rem;
       }
    }
  }
}
