@use "../../../core/sass/generic/background" as b;

button {
  background: transparent;
  padding: .6rem 1.2rem;
  border: .1rem solid var(--color-orange);
  border-radius: 5rem;
  cursor: pointer;
  transition: var(--transitions-normal);

  &:hover {
    animation: headShake 1s;
  }

  &.dark {
    border-color: var(--color-background);

    &:hover {
      background: var(--color-background);

      & > a {
        color: var(--color-orange);
      }
    }
  }

  @media (min-width: 992px) {
    padding: 1rem 2rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: .6rem;
    color: var(--color-orange);
    font: {
     weight: 500;
     size: 1.2rem;
    }
    text-decoration: none;

    &.dark {
      color: var(--color-background);

      &:hover {
        color: var(--color-orange);

      }
    }

    @media (min-width: 992px) {
      font: {
        weight: 500;
        size: 1.6rem;
      }
    }

    > img {
     width: 2rem;
     height: 2rem;

       @media (min-width: 992px) {
         width: 3rem;
         height: 3rem;
       }
    }
  }
}
