<section class="section-career">
  <app-heading
    title="Trajetória até aqui"
    tagText="Carreira"
    [icon]="icon"
    [alignCenter]="true" />

  <div class="container">
    <div class="professional-section">
      <h3>Área Profissional</h3>
      <p></p>
      <div class="container-cards">
        <div class="career-card">
          <h4>Desenvolvedor Frontend no NDS</h4>
          <p>
            Atuo desenvolendo sistema no Núcle de Desenvolvimento de Software
            para a comunidade academica do IFCE campus Maracanaú.
          </p>
          <div class="career-card-footer">
            <span>6 meses</span>
            <p>Agosto/2023 - Atualmente</p>
          </div>
        </div>
      </div>
    </div>
    <div class="professional-section">
      <h3>Acadêmica</h3>
      <p></p>
      <div class="container-cards">
        <div class="career-card">
          <h4>Desenvolvedor Frontend no NDS</h4>
          <p>
            Atuo desenvolendo sistema no Núcle de Desenvolvimento de Software
            para a comunidade academica do IFCE campus Maracanaú.
          </p>
          <div class="career-card-footer">
            <span>6 meses</span>
            <p>Agosto/2023 - Atualmente</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</section>
