<main>
  <app-header />
  <div class="divider"></div>
  @defer (on viewport) {
    <app-emphasis />
  } @placeholder {
    <p>Loading...</p>
  }
  <div class="divider"></div>
  @defer (on viewport) {
    <app-about-me />
  } @placeholder {
    <p>Loading...</p>
  }

  <div class="divider"></div>
  @defer (on viewport) {
    <app-projects />
  } @placeholder {
    <p>Loading...</p>
  }

  <div class="divider"></div>
  @defer (on viewport) {
    <app-technologies />
  } @placeholder {
    <p>Loading...</p>
  }

  <div class="divider"></div>

  <app-footer />
</main>
