<div class="modal-card">
  <div>
    <header class="modal-header">
      <div class="title-container">
        <h1 mat-dialog-title>{{ data.title }}</h1>
        <button mat-dialog-close><mat-icon>close</mat-icon></button>
      </div>
    </header>

    <div class="modal-content">
      <div class="modal-content-image">
        <img [ngSrc]="data.image.path" width="400" height="100" alt="text" />
      </div>
      <mat-dialog-content class="modal-content-details">
        <p>{{ data.description }}</p>
        <div class="project-stacks">
          <h3>Stacks utilizadas:</h3>
          <div class="project-stack-technologies">
            @for (technology of data.technologies; track $index) {
              <app-custom-text
                [text]="technology.text"
                [size]="technology.size"
                isDark />
            }
          </div>
        </div>
      </mat-dialog-content>
    </div>
  </div>

  <mat-dialog-actions align="end" class="modal-btn-actions">
    @if (data.urlSite) {
      <app-button-default
        isDark
        buttonType="button"
        [buttonUrl]="data.urlSite"
        buttonText="Visitar site" />
    }
    @if (data.urlRepository) {
      <app-button-default
        isDark
        buttonType="button"
        [buttonUrl]="data.urlRepository"
        buttonText="Ir para repositório" />
    }
  </mat-dialog-actions>
</div>
