<div [appCarouselItem]="cardItem" [cardActive]="cardActive" class="card">
  <div class="card-header">
    <h3>{{ cardProject.title }}</h3>
    <p>{{ cardProject.description }}</p>
  </div>
  <div class="card-content">
    <div class="stack-buttons">
      <app-custom-text
        *ngFor="let tecnologia of cardProject.tecnologias"
        [text]="tecnologia.text"
        [size]="tecnologia.size" />
    </div>
    <img
      [ngSrc]="cardProject.image.pathImage"
      [width]="cardProject.image.width"
      [height]="cardProject.image.height"
      [alt]="cardProject.image.altText" />
  </div>
</div>
