@use 'variables' as *;

.technology-card {
  padding: 2rem;
  background-image: $effectGradientCardColor;
  border-radius: 20px;
  border-top-left-radius: 0;


  &__icon {
    width: 100%;
    height: 3rem;
    transition: var(--transitions-slow);
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    @media screen and (min-width: 768px) {
      height: 5rem;
    }
  }
}
