@use 'variables' as *;

.technology-card {
  padding: 2rem;
  border-radius: 20px;
  border-top-left-radius: 0;

  background-color: $bgDarkColor;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: 20px;
    border-top-left-radius: 0;
    background: linear-gradient(to bottom, $primaryColor 0%, $primaryDarkColor 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }


  &__wrapper {
    width: 100%;

    transition: var(--transitions-slow);
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    @media screen and (min-width: 768px) {
      height: 5rem;
    }

    .icon {
      font-size: 50px;
    }
  }
}
