@use 'variables' as *;

.technology-card {
  border-radius: 1.6rem;
  border-top-left-radius: 0;

  background-color: $bgDarkColor;
  transition: $transitionsFast;

  @media (min-width: 768px) {
    padding: 0.3rem;
    border-radius: 2rem;
    border-top-left-radius: 0;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.2rem;
    border-radius: 1.6rem;
    border-top-left-radius: 0;
    background: linear-gradient(to bottom, $primaryColor 0%, $primaryDarkColor 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;

    @media (min-width: 768px) {
      padding: 0.3rem;
      border-radius: 2rem;
      border-top-left-radius: 0;
    }
  }

  &:hover {
    box-shadow: 0 0 1rem 0.1rem $primaryDarkColor;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.4rem;
    transition: $transitionsFast;
    cursor: pointer;

    &:hover {
      transform: scale(1.01);
    }

    @media screen and (min-width: 768px) {
      padding: 2rem;
    }

    @media screen and (min-width: 968px) {
      padding: 2.4rem;
    }

    &--icon {
      width: 20px;
      height: 20px;

      @media (min-width: 425px) {
        width: 30px;
        height: 30px;
      }

      @media (min-width: 768px) {
        width: 40px;
        height: 40px;
      }

      @media (min-width: 978px) {
        width: 50px;
        height: 50px;
      }
    }
  }
}
