<section class="section-contact">
  <app-heading
    [isHeadingCenter]="true"
    headingTagText="Contatos"
    headingTitle="Vamos conversar!"
    [isDark]="true"
    [headingIcon]="contactIcon" />
  <div class="section-contact__subtitle hidden" appScrollClass>
    <span class="section-contact_subtitle--text"
      >Tem uma ideia inovadora ou uma vaga em aberto? A caixa de entrada está
      aberta para propostas e networking.</span
    >
  </div>
  <div class="container-content">
    <div class="container-content__form hidden" appScrollClass>
      <app-form [formGroup]="contactForm" (submitBtn)="onSubmit()">
        <app-input-custom
          type="text"
          class="form__fieldset--input"
          label="Nome"
          title="'Qual seu nome ou da sua empresa?'"
          placeholder="Seu nome"
          formControlName="fullname"
          [errorMessages]="getErrorMessages('fullname')" />

        <app-input-custom
          type="email"
          label="Email"
          title="'Seu melhor email para contato'"
          formControlName="email"
          placeholder="exemplo@email.com"
          [errorMessages]="getErrorMessages('email')" />

        <app-input-custom
          [isTextarea]="true"
          type="text"
          label="Mensagem"
          [title]="'Sobre o que gostaria de falar?'"
          formControlName="message"
          placeholder="Olá! Vi seu portfólio e gostaria de falar sobre uma vaga..."
          [errorMessages]="getErrorMessages('message')" />

        <app-button-submit
          type="submit"
          [isLoading]="isLoading"
          [disabled]="contactForm.invalid">
          Enviar Mensagem
        </app-button-submit>
      </app-form>
    </div>

    <div class="container-content__info">
      <div class="info-heading">
        <h3 class="info-heading__title hidden" appScrollClass>
          Entrar em Contato
        </h3>
        <p class="info-heading__description hidden" appScrollClass>
          Estou disponível para projetos freelance, colaborações ou simplesmente
          para um bate-papo sobre tecnologia futurista.
        </p>
      </div>

      <div class="info-actions">
        <app-button-secondary
          buttonType="button"
          [buttonIcon]="whatsappIcon"
          buttonText="(85) 9 9279-4032"
          buttonUrl="https://wa.me/558592794032?text=Olá%20Andre,%20tudo%20bem?%20Venho%20através%20do%20seu%20portfólio%20e%20gostaria%20de%20tirar%20algumas%20dúvidas."
          isButtonIconLeft />
        <app-button-secondary
          [buttonText]="'andrealves10a@gmail.com'"
          [buttonIcon]="emailIcon"
          buttonUrl="mailto:andrealves10a@gmail.com"
          isButtonIconLeft />
      </div>

      <div class="info-social-media">
        <span class="info-social-media__title hidden" appScrollClass
          >Siga me</span
        >
        <app-social-media class="hidden" appScrollClass></app-social-media>
      </div>
    </div>
  </div>
  <app-back-to-top />
</section>
