<section class="home">
  <div class="home__content">
    <span class="home__tag hidden" appScrollClass>Desenvolvedor Fullstack</span>
    <h1 class="home__title hidden" appScrollClass>
      Transformando <span class="home__title--emphasis">Ideias</span> Em
      <span class="home__title--emphasis">Soluções Digitais</span> Escaláveis.
    </h1>
    <p class="home__description hidden" appScrollClass>
      Construindo soluções digitais que unem propósito, inovação e performance.
    </p>
    <app-social-media class="home__social-media" />
    <div class="home__spotlight hidden" appScrollClass></div>
    <div class="home__spotlight hidden" appScrollClass></div>
  </div>
  <div class="home__image hidden" appScrollClass>
    <app-image class="hidden" [image]="avatarImage" appScrollClass />
    <div class="home__image-title hidden" appScrollClass>
      <span class="home__image-title--title">Andre A. Pereira</span>
    </div>
    <div class="home__stack-wrapper">
      <ul class="home__stack-list hidden" appScrollClass>
        <li class="home__stack-item">Angular</li>
        <li class="home__stack-item">Typescript</li>
        <li class="home__stack-item">C#</li>
        <li class="home__stack-item">.NET</li>
      </ul>
    </div>
  </div>
</section>
