@use "../../../styles/mixings" as b;
@import "variables";

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: $transitionsNormal;
  animation: backInLeft 1s;
  background-image: linear-gradient($grayDarkColor 20%, $primaryColor 80%);

  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 3vw 5vw;
  }

  @media (min-width: 1148px) {
    flex-direction: row;
    padding: 3vw 10vw;
  }

  &__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    transition: var(--transitions-slow);
    font-family: 'Inter', sans-serif;

    @media (min-width: 768px) {
      justify-content: space-around;
      width: 90%;
    }

    @media (min-width: 1148px) {
      width: 50%;
      justify-content: flex-start;
      gap: 1.2vw;
    }
  }

  &__title {
    color: $whiteColor;
    transition: var(--transitions-slowest);
    font: {
      weight: 700;
      size: $sizeXXLarge;
      family: 'Inter', sans-serif;
    }
    line-height: 1.04;
    letter-spacing: .1rem;

    @media screen and (min-width: 768px) {
      font-size: 5vw;
    }

  }

  &__description {
    color: $whiteColor;
    letter-spacing: .1rem;
    transition: var(--transitions-slowest);
    font: {
      weight: 500;
      size: $sizeNormal;
    };

    @media screen and (min-width: 768px) {
      font: {
        size: 2.2rem;
      };
    }
  }

  &__social-media {
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: var(--transtions-slowest);

    @media (min-width: 768px) {
      opacity: 1;
      display: flex;
      visibility: visible;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    cursor: pointer;
    transition: ease-out;
    gap: 1rem;

  }
}

