<section class="home">
  <div class="home__content">
    <app-custom-text text="Desenvolvedor Fullstack" />
    <h1 class="home__title">Soluções inteligentes para um mundo digital</h1>
    <span class="home__description"
      >Construindo soluções digitais que unem propósito, inovação e
      performance.</span
    >
    <app-social-media class="home__social-media" />
    <app-button-default
      buttonType="button"
      [buttonIcon]="whatsappIcon"
      buttonText="Vamos conversar"
      buttonUrl="https://wa.me/558592794032?text=Olá%20Andre,%20tudo%20bem?%20Venho%20através%20do%20seu%20portfólio%20e%20gostaria%20de%20tirar%20algumas%20dúvidas." />
  </div>
  <div class="home__image">
    <app-image [image]="avatarImage" />
  </div>
</section>
