<section class="home" id="home" #sectionRef>
  <div class="home__content">
    <div class="home__wrapper">
      <app-custom-text [icon]="helloIcon" text="Olá, eu sou" />
      <h1 class="home__title">Andre Alves</h1>
      <span class="home__description">Fullstack developer</span>
      <app-social-media class="home__social-media" />
    </div>
    <app-image [image]="avatarImage" />
  </div>
  <div class="home__actions">
    <app-button-secondary
      buttonText="Baixar CV"
      [buttonIcon]="downloadIcon"
      buttonUrl="./assets/docs/Andre_Alves_Pereira_CV.pdf"
      buttonLinkType="application/pdf"
      [isButtonDownload]="true"
      buttonDownload="Andre_Alves_Pereira_CV.pdf" />
    <app-button-default
      buttonType="button"
      [buttonIcon]="whatsappIcon"
      buttonText="Vamos conversar"
      buttonUrl="https://wa.me/558592794032?text=Olá%20Andre,%20tudo%20bem?%20Venho%20através%20do%20seu%20portfólio%20e%20gostaria%20de%20tirar%20algumas%20dúvidas." />
  </div>
</section>
