@use 'variables' as *;

:host {
  display: block;
  width: 100%;
  transition: $transitionsNormal;
}

.form {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 29rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.6rem;
  background-color: $bgDarkColor;
  border-radius: 2.5rem;
  box-shadow: 0 0 2rem 0.2rem $bgDarkColor;
  padding: 2rem;
  font-family: 'Inter', sans-serif;

  @media (min-width: $lteXHuge) {
    padding: 2vw;
    gap: 1.4vw;
  }

  &__heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &--title {
      font-size: $sizeNormal;
      font-family: $primaryFont;
      font-weight: 800;
      text-align: center;
      color: $primaryColor;
      letter-spacing: 0.05rem;

      @media (min-width: $lteSmall) {
        font-size: $sizeMedium;
      }
    }

    &--subtitle {
      font-size: $sizeXSmall;
      font-family: $primaryFont;
      font-weight: 400;
      color: $grayColor;
      letter-spacing: 0.05rem;
      text-align: center;

      @media (min-width: $lteSmall) {
        font-size: $sizeXSmall;
      }

      @media (min-width: $lteMedium) {
        font-size: $sizeSmall;
      }
    }
  }
}
