@use "../../../../styles/mixings" as b;
@import "variables";

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  padding: 0 2rem;
  border-radius: 5rem;
  transition: var(--transitions-slow);

  @media (min-width: 768px) {
    margin: 5rem auto;
    justify-content: space-between;
    padding: 0 4vw;
  }

  > .media {
    margin: 0 auto;
    transition: var(--transitions-slower);

    @media (min-width: 768px) {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  .menu-desktop {
    display: none;
    opacity: 0;
    visibility: hidden;


    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      opacity: 1;
      visibility: visible;
      justify-content: space-between;
    }

    menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2.4rem;

      @media screen and (min-width: 992px) {
        gap: 2.6rem;
      }

      li {
        list-style: none;
        text-align: match-parent;
        justify-content: center;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;

        a {
          position: relative;
          color: $whiteColor;
          text-align: center;
          text-decoration: none;
          transition: var(--transitions-normal);
          font: {
            weight: 400;
            size: 1.6rem;
            font-family: var(--font-family);
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -0.6rem;
            left: 50%;
            width: 0;
            height: .2rem;
            z-index: 19;
            background-image: $effectGradientColor;
            border-radius: 5rem;
            transition: var(--transitions-fast);
          }

          &:hover {
            @include b.background;

            &::after {
              left: 0;
              width: 100%;
            }
          }

          @media screen and (min-width: 992px) {
            font-size: 1.7rem;
          }

          @media screen and (min-width: 992px) {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}
