@import "../../../styles/variables";

.section-project {
  width: 100%;
  min-width: 36.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fadeInLeft;
  animation-duration: 2s;
  transition: all 3s ease-in-out;
  background-color: $bgDarkColor;
  padding: 1.6rem 0;

  @media (min-width: 768px) {
    gap: 4rem;
    padding: 2vw 4vw;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-end;
    }

    .header-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.2rem;

      @media (min-width: 768px) {
        flex-direction: row;
        gap: 2rem;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;
    min-height: 70dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container-cards {
      width: 100%;
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      animation: bounceInLeft;
      animation-duration: 2s;
      transition: all 3s ease-in-out;

      @media (min-width: 567px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
      }

      @media (min-width: 768px) {
        gap: 2rem 3rem;
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
