<section class="section-emphasis">
  <div class="container-cards">
    <app-emphase-card
      emphaseSubtitle="2 anos como"
      emphaseTitle="Programador"
      [emphaseIcon]="codeIcon" />
    <app-emphase-card
      emphaseSubtitle="Projetos"
      emphaseTitle="Desafiadores"
      [emphaseIcon]="developerIcon" />
    <app-emphase-card
      emphaseSubtitle="Sempre buscando"
      emphaseTitle="Conhecimento"
      [emphaseIcon]="creativityIcon" />
  </div>
  <div class="container-texts">
    <div class="card-info">
      <span>Desenvolvedor</span>
      <h3>Front-end</h3>
    </div>
    <div class="card-info">
      <span>Construindo</span>
      <h3>Experiências</h3>
    </div>
    <div class="card-info">
      <span>Em novas</span>
      <h3>Tecnologias</h3>
    </div>
  </div>
</section>
