<section class="section-emphasis">
  <div class="container-cards">
    <app-emphase-card
      emphaseSubtitle="2 anos como"
      emphaseTitle="Programador"
      [emphaseIcon]="codeIcon" />
    <!-- Desenvolvimento web criativo e inovador -->
    <app-emphase-card
      emphaseSubtitle="Projetos"
      emphaseTitle="Desafiadores"
      [emphaseIcon]="developerIcon" />
    <!-- Interfaces intuitivas e visualmente cativantes -->

    <!-- Aprendizado constante, evolução contínua.
Projetos desafiantes, crescimento profissional.
Tecnologias emergentes, expertise consolidada.

Aprendizado constante, evolução profissional.
Frontend dinâmico, projetos desafiadores.
Tecnologias novas, expertise consolidada.

Dominando Frontend após anos.
Projetos, experiência, crescimento contínuo.
Novas tecnologias, aprendizado constante. -->
    <app-emphase-card
      emphaseSubtitle="Sempre buscando"
      emphaseTitle="Conhecimento"
      [emphaseIcon]="creativityIcon" />
    <!-- Frontend impactante, unindo design e tecnologia -->
  </div>
  <div class="container-texts">
    <div class="card-info">
      <span>Desenvolvedor</span>
      <h3>Front-end</h3>
    </div>
    <div class="card-info">
      <span>Construindo</span>
      <h3>Experiências</h3>
    </div>
    <div class="card-info">
      <span>Em novas</span>
      <h3>Tecnologias</h3>
    </div>
  </div>
</section>
