.section-emphasis {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  animation: fadeInLeft;
  animation-duration: 2s;
  transition: var(--transitions-normal);

  @media screen and (min-width: 768px) {
    margin: 4rem auto;
    gap: 1.5rem;
  }

  @media screen and (min-width: 991px) {
    margin: 4rem auto;
    gap: 2rem;
  }

  .container-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    transition: var(--transitions-slowest);


    @media (min-width: 768px) {
      display: flex;
      gap: 2rem;
    }

    @media (min-width: 991px) {
      display: flex;
      gap: 3rem;
    }
  }

  .container-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.7rem;
    background: var(--color-dark-orange);
    padding: 1.8rem 1.8rem;
    border-radius: 2rem;
    transition: var(--transitions-slowest);
    box-shadow: 0 0 1.2rem .05rem rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
      gap: 5.5rem;
      padding: 2.5rem 2rem;
      box-shadow: 0 0 .5rem .05rem rgba(0, 0, 0, 0.2);
    }

    @media (min-width: 768px) {
      gap: 8.5rem;
      padding: 2.5rem 3.3rem;
    }

    .card-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--color-orange);

      span {
        font-size: 1rem;
        text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);
        transition: var(--transitions-slowest);

        @media (min-width: 768px) {
          font-size: 1.2rem;
          text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.8);
        }

        @media (min-width: 991px) {
          font-size: 1.4rem;
        }
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);
        transition: var(--transitions-slowest);

        @media (min-width: 768px) {
          font-size: 1.7rem;
          text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.8);
        }

        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }

    }
  }
}
