<section class="section-emphasis">
  <div class="container-cards hidden" appScrollClass>
    @for (emphasisCard of topEmphasisCardsInfo; track $index) {
      <app-emphase-card
        [emphaseSubtitle]="emphasisCard.emphasisSubtitle"
        [emphaseTitle]="emphasisCard.emphasisTitle"
        [emphaseIcon]="emphasisCard.emphasisIcon" />
    }
  </div>
  <div class="container-texts hidden" appScrollClass>
    @for (emphasisText of lowerEmphasisCardsInfo; track $index) {
      <div class="card-info hidden" appScrollClass>
        <span>{{ emphasisText.emphasisSubtitle }}</span>
        <h3>{{ emphasisText.emphasisTitle }}</h3>
      </div>
    }
  </div>
</section>
