.social-media {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__item {
    list-style: none;

    &:hover {
      animation: tada 2s;
    }

    &--link {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
