<ul class="social-media">
  <li class="social-media__item hidden" appScrollClass>
    <a
      class="social-media__item--link"
      target="_blank"
      title="LinkedIn - Andre Alves Pereira"
      href="https://www.linkedin.com/in/andre-alves-pereira-02738114b/">
      <app-linkedin />
    </a>
  </li>
  <li class="social-media__item hidden" appScrollClass>
    <a
      class="social-media__item--link"
      target="_blank"
      title="GitHub - andallves"
      href="https://github.com/andallves">
      <app-github class="icon" />
    </a>
  </li>
  <li class="social-media__item hidden" appScrollClass>
    <a
      class="social-media__item--link"
      target="_blank"
      title="Instagram - @andallves"
      href="https://instagram.com/andallves">
      <app-instagram />
    </a>
  </li>
</ul>
