<ul class="container-socila-midia">
  <li class="item">
    <a
      [ngClass]="animated ? 'animate' : ''"
      class="item-link"
      target="_blank"
      href="https://www.linkedin.com/in/andre-alves-pereira-02738114b/">
      <app-linkedin />
    </a>
  </li>
  <li class="item">
    <a class="item-link" target="_blank" href="https://github.com/andallves">
      <app-github class="icon" />
    </a>
  </li>
  <li class="item">
    <a class="item-link" target="_blank" href="https://instagram.com/andallves">
      <app-instagram />
    </a>
  </li>
</ul>
