:root {
  --font-family: "Raleway", sans-serif;
  --font-sizes-xsmall: 1.2rem;
  --font-sizes-small: 1.6rem;
  --font-sizes-normal: 1.8rem;
  --font-sizes-medium: 2.4rem;
  --font-sizes-large: 3.2rem;
  --font-sizes-xlarge: 4.0rem;
  --font-sizes-xxlarge: 4.8rem;
  --font-sizes-huge: 5.6rem;
  --font-sizes-xhuge: 6.4rem;
}
