:root {
  --spacings-xtiny: 0.2rem;
  --spacings-tiny: 0.4rem;
  --spacings-xxsmall: 0.8rem;
  --spacings-xsmall: 1.2rem;
  --spacings-small: 1.6rem;
  --spacings-mediumSmall: 2.0rem;
  --spacings-medium: 2.4rem;
  --spacings-mediumLarge: 2.8rem;
  --spacings-large: 3.2rem;
  --spacings-xlarge: 3.6rem;
  --spacings-xxlarge: 4.0rem;
  --spacings-huge: 4.4rem;
  --spacings-xhuge: 4.8rem;
  --spacings-xxhuge: 5.6rem;
  --spacings-hero: 6.4rem;
  --spacings-xhero: 7.2rem;
  --spacings-xxhero: 8.0rem;
}
